.sidebar{
  width: 240px;
  background:#0f172a;
  color:white;
  padding:20px;
}

.logo{
  display:flex;
  align-items:center;
  gap:10px;
  margin-bottom:40px;
}

.logo img{
  width:36px;
}

.menu{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.menu-item{
  display:flex;
  align-items:center;
  gap:12px;
  padding:12px;
  border-radius:8px;
  text-decoration:none;
  color:white;
  transition:.3s;
}

.menu-item img{
  width:22px;
}

.menu-item:hover{
  background:#1e293b;
}

.menu-item.active{
  background:#2563eb;
}
