/* ========== SIDEBAR ========== */
.sidebar{
  width:240px;
  background:#0f172a;
  padding:20px;
  flex-shrink:0; /* NO se aplasta */
}

/* ========== LOGO ========== */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

.logo img {
  width: 32px;
  height: 32px;
}

.logo span {
  font-weight: 600;
}

/* ========== MENU ========== */
.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #cbd5f5;
  transition: background 0.3s;
}

.menu-item img {
  width: 22px;
  height: 22px;
}

/* Hover */
.menu-item:hover {
  background: #1e293b;
}

/* Activo */
.menu-item.active {
  background: #2563eb;
  color: #fff;
}
