*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#0f172a;
  color:white;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero h1{
  font-size:4rem;
}

.btn{
  margin-top:20px;
  padding:12px 30px;
  border:1px solid white;
  text-decoration:none;
  color:white;
  transition:.3s;
}

.btn:hover{
  background:white;
  color:#0f172a;
}

.features{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  padding:80px;
}

.feature{
  background:#1e293b;
  padding:30px;
  border-radius:12px;
}

.charts-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
  margin-top:40px;
}

.chart-card{
  background:#1e293b;
  padding:25px;
  border-radius:14px;
}

.chart-card h3{
  margin-bottom:15px;
  font-size:1.1rem;
  color:#e5e7eb;
}
